.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 50%;
    margin: 100px auto 0;
}

input{
    width: 100%;
    padding: 15px;
    border: 1px solid teal;
    margin-bottom: 10px;
}
button{
    width: 100%;
}